<h1>Performing survey for user</h1>
<p class="error" style="display:none">Some steps are empty</p>
<div class="available-steps">
<% @survey.template.data['available_steps'].each do |step| %>
  <div class="step drag-drop" style="background-color:<%= step['color'] %>"><%= step['name'] %></div>
<% end %>
</div>

<div class="steps-form">
<%= form_with url: surveys_save_result_path, local: true do |f| %>
  <% (1..@survey.template.data['steps_number']).each do |step| %>
    <div class="step drop-zone" data-step-number="<%= step %>"><%= step %></div>
  <% end %>
  <input type="button" id="add-step" value="+">
  <input type="button" id="remove-step" value="-">
  <br><br>
  <%= f.hidden_field :result %>
  <%= f.submit 'Save', data: {disable_with: false} %>
<% end %>
</div>
